@font-face {
   font-family: 'SFProDisplay-SemiBold';
   src: url('SFProDisplay-SemiBold/font.ttf');
}
@font-face {
   font-family: 'SFProDisplay-Regular';
   src: url('SFProDisplay-Regular/font.ttf');
}
